$header-color:#1C3961;
$nav-anc:#38382A;
$heading-color:#404040;
$caption-color:#019450;
$white:#fff;
$black:#000;
$icon:("whatsapp":"\f232","google":"\f0d5","facebook":"\f082","messanger":"\f39f","twitter":"\f099","skype":"\f17e");
$float:left;
$why-color:#2B2E89;
$event:#1c3961;