/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 61%;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 70%;
  }
}
@media (max-width: 995px) {
  .wrapper {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 95%;
  }
}
/* header start here*/
footer .icon, footer .social-list, footer .link-list, footer .footer-item:nth-child(3), footer .sub-item, footer .footer-list, .query .query-wrap, .news .news-list, .left-ctrl::before, .right-ctrl::before, .testimonial .feedback-ctrl, .testimonial .star-list, .testimonial .fig-wrap, .testimonial .feedbak-list, .event .event-wrap, .gallery .gallery-list, .why-us .feature-list, .why-us .wrapper, .course .time, .course .course-list, .banner .slide-ctrl, header .header2 .nav-list, header .header2 .wrapper, header .icon, header .social-list, header .email, header footer .footer-call, footer header .footer-call, header .call, header .link, header .header1 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-list, footer .course-name, footer .link, footer .add, footer .email, footer .footer-call, footer .footer-heading, .query .contact, .news .news-item, .news .wrapper, .testimonial .testimonial-heading, .testimonial .feeback-item, .testimonial .wrapper, .event .schedule, .event .event-info, .event .second, .why-us .feature-item, .course .caption-heading, .course .course-item figure, .course .wrapper, .banner .wrapper, header .header2 .down, header .email, header .call, header {
  position: relative;
}

footer .icon, footer .sub-btn, footer .link, footer .email, footer .footer-call, .query .contact, .left-ctrl, .right-ctrl, .why-us .more-btn, .banner .left, .banner .right, header .header2 .nav-link, header .header2 .bar, header .header2 .hamburger, header .login, header .icon, header .email, header .call {
  transition: all 0.4s ease-in-out;
}

footer .footer-list, .query .query-wrap, .news .news-list, .testimonial .feedback-ctrl, .event .event-wrap, .why-us .wrapper, .course .course-list, .banner .slide-ctrl, header .header2 .wrapper, header .header1 .wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .icon, .left-ctrl::before, .right-ctrl::before, .testimonial .fig-wrap, header .header2 .nav-list, header .header2 .wrapper, header .icon, header .email, header footer .footer-call, footer header .footer-call, header .call, header .header1 .wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-items: center;
}

header .header1 {
  padding: 10px 0;
  background-color: #1C3961;
}
@media (max-width: 480px) {
  header .header1 .wrapper {
    margin: 10px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
}
header .link {
  -ms-flex-preferred-size: 62.8%;
  flex-basis: 62.8%;
}
@media (max-width: 768px) {
  header .link {
    -ms-flex-preferred-size: 38.8%;
    flex-basis: 38.8%;
  }
}
header .email, header footer .footer-call, footer header .footer-call, header .call {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
}
@media (min-width: 995px) {
  header .email:hover, header footer .footer-call:hover, footer header .footer-call:hover, header .call:hover {
    color: #019450;
  }
}
header .email::before, header footer .footer-call::before, footer header .footer-call::before, header .call::before {
  margin-right: 10px;
  content: "\f0e0";
  float: left;
  font-size: 9px;
  font-family: "FontAwesome";
}
@media (max-width: 480px) {
  header .email::before, header footer .footer-call::before, footer header .footer-call::before, header .call::before {
    position: absolute;
    top: 2px;
    left: -13px;
  }
}
header .call {
  margin-left: 6%;
}
@media (max-width: 480px) {
  header .call {
    margin-left: 12%;
  }
}
header .call::before {
  margin-right: 9px;
  content: "\f879";
}
header .social-list {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  gap: 12px;
}
@media (max-width: 480px) {
  header .social-list {
    margin: 5px 0;
  }
}
header .social-item {
  margin-left: 2%;
}
header .social-item:first-child {
  margin: 0;
}
header .icon {
  color: #fff;
  text-indent: -9999px;
}
@media (min-width: 995px) {
  header .icon:hover {
    color: #019450;
  }
}
header .icon.whatsapp::before {
  content: "\f232";
}
header .icon.google::before {
  content: "\f0d5";
}
header .icon.facebook::before {
  content: "\f082";
}
header .icon.messanger::before {
  content: "\f39f";
}
header .icon.twitter::before {
  content: "\f099";
}
header .icon.skype::before {
  content: "\f17e";
}
header .icon::before {
  content: "";
  float: left;
  font-size: 10px;
  font-family: "FontAwesome";
  text-indent: 0;
}
header .login {
  color: #fff;
  font-size: 11px;
}
@media (min-width: 995px) {
  header .login:hover {
    color: #019450;
  }
}
@media (max-width: 480px) {
  header .header2 {
    position: relative;
  }
}
header .header2 .hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .header2 .hamburger {
    display: block;
    position: absolute;
    z-index: 20;
    top: 50%;
    right: 9px;
  }
  header .header2 .hamburger:hover ~ .navbar {
    top: 102px;
    left: 0;
  }
  header .header2 .hamburger:hover .bar2 {
    display: none;
  }
  header .header2 .hamburger:hover .bar1 {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  header .header2 .hamburger:hover .bar3 {
    -webkit-transform: translateY(1px) rotate(-45deg);
    -ms-transform: translateY(1px) rotate(-45deg);
    transform: translateY(1px) rotate(-45deg);
  }
}
@media (max-width: 768px) {
  header .header2 .hamburger {
    top: 26%;
  }
  header .header2 .hamburger:hover ~ .navbar {
    top: 63px;
  }
}
header .header2 .bar {
  width: 18px;
  height: 2px;
  margin: 5px;
  display: block;
  background-color: #019450;
  text-indent: -9999px;
}
header .header2 .navbar {
  -ms-flex-preferred-size: 49.5%;
  flex-basis: 49.5%;
}
@media (max-width: 768px) {
  header .header2 .navbar {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 6;
    top: 0%;
    left: 100%;
    background-color: #019450;
  }
}
header .header2 .nav-list {
  gap: 12px;
}
@media (max-width: 768px) {
  header .header2 .nav-list {
    margin: 64px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
    gap: 50px;
  }
}
header .header2 .nav-item:nth-child(2) {
  padding-right: 16px;
}
header .header2 .nav-item:nth-child(3) {
  padding-right: 16px;
}
header .header2 .nav-link {
  padding: 5px;
  color: #38382A;
  font-size: 14px;
}
@media (min-width: 995px) {
  header .header2 .nav-link:hover {
    color: #019450;
  }
}
@media (max-width: 768px) {
  header .header2 .nav-link {
    color: #fff;
  }
}
header .header2 .down::before {
  content: "\f078";
  float: right;
  position: absolute;
  top: 28%;
  right: -23%;
  color: #363636;
  font-size: 10px;
  font-family: "FontAwesome";
}
@media (min-width: 995px) {
  header .header2 .down:hover::before {
    color: #019450;
  }
}
@media (max-width: 768px) {
  header .header2 .down::before {
    color: #fff;
  }
}
@media (max-width: 1200px) {
  header .social-list {
    -ms-flex-preferred-size: 24%;
    flex-basis: 24%;
  }
}

/* header end here*/
/*banner section start here*/
@media (max-width: 995px) {
  .banner {
    position: relative;
  }
}
.banner .wrapper {
  width: 100%;
}
@media (max-width: 995px) {
  .banner .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.banner .slider-item {
  display: none;
}
.banner .slider-item figure img {
  max-height: 585px;
  height: 100%;
  filter: brightness(0.6);
}
.banner .slider-item:nth-child(1) {
  display: block;
}
.banner .slide-content {
  position: absolute;
  bottom: 389px;
  left: 34%;
  text-align: center;
}
@media (max-width: 1200px) {
  .banner .slide-content {
    bottom: 350px;
    left: 31%;
  }
}
@media (max-width: 995px) {
  .banner .slide-content {
    position: absolute;
    bottom: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, 60%);
    -ms-transform: translate(-50%, 60%);
    transform: translate(-50%, 60%);
  }
}
.banner .banner-heading {
  padding-bottom: 9px;
  color: #fff;
  font-size: 27px;
  font-weight: 600;
}
.banner .description {
  color: #fff;
  font-size: 15px;
}
.banner .slide-ctrl {
  width: 100%;
  position: absolute;
  bottom: 316px;
  left: 0;
}
@media (max-width: 995px) {
  .banner .slide-ctrl {
    position: absolute;
    bottom: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, 60%);
    -ms-transform: translate(-50%, 60%);
    transform: translate(-50%, 60%);
  }
}
.banner .left, .banner .right {
  margin-left: 2%;
  text-indent: -9999px;
}
@media (min-width: 995px) {
  .banner .left:hover::before, .banner .right:hover::before {
    color: #404040;
  }
}
.banner .left::before, .banner .right::before {
  content: "\f053";
  float: left;
  color: #fff;
  font-size: 20px;
  font-family: "FontAwesome";
  text-indent: 0;
}
.banner .right {
  margin-right: 2%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*banner section end here*/
/*course section start here*/
.course {
  padding: 45px 0 115px 0;
}
.heading {
  padding-bottom: 32px;
  color: #1C3961;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 768px) {
  .course .course-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .course .course-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
}
.course .course-item {
  padding-bottom: 10px;
  border: 1px solid #b7b7b7;
  -ms-flex-preferred-size: 31.7%;
  flex-basis: 31.7%;
}
@media (max-width: 768px) {
  .course .course-item {
    -ms-flex-preferred-size: 47%;
    flex-basis: 47%;
    margin: 15px 0;
  }
}
.course .course-info {
  padding: 0 4.6% 0 3%;
}
.course .text, .course .time {
  padding: 32px 0 22px 0;
  color: #9a9a9a;
  font-size: 11px;
}
.course .caption {
  padding: 14px 0;
  position: absolute;
  right: 3%;
  bottom: -21px;
  left: 5%;
  background-color: #019450;
  color: #fff;
  font-size: 14px;
}
.course .caption-heading {
  margin-right: 10%;
  font-size: 13px;
  text-align: center;
}
.course .caption-heading::before {
  content: ">>>";
  float: right;
  position: absolute;
  top: 2px;
  right: 10%;
  font-size: 11px;
}
.course .time {
  padding: 0;
  color: #5c5c5c;
  line-height: 17px;
}
.course .content {
  display: inline-block;
  margin-left: 3px;
}
.slide-btn, .news .news-slide {
  width: 100%;
  position: absolute;
  bottom: -19%;
  left: 42.8%;
}
.slide-btn::before, .news .news-slide::before {
  content: "";
  width: 5.5%;
  height: 2px;
  display: block;
  position: inherit;
  top: 50%;
  left: 4.8%;
  background-color: #939393;
}
@media (max-width: 1200px) {
  .slide-btn::before, .news .news-slide::before {
    left: 5%;
  }
}
@media (max-width: 1024px) {
  .slide-btn::before, .news .news-slide::before {
    left: 5.5%;
  }
}
@media (max-width: 995px) {
  .slide-btn::before, .news .news-slide::before {
    left: 6%;
  }
}
@media (max-width: 768px) {
  .slide-btn, .news .news-slide {
    width: 100%;
    bottom: -9%;
    left: 0;
    text-align: center;
  }
  .slide-btn::before, .news .news-slide::before {
    left: 47%;
  }
}
@media (max-width: 480px) {
  .slide-btn, .news .news-slide {
    bottom: -5%;
  }
}

.left-btn, .news .left-slide, .right-btn, .news .right-slide {
  text-indent: -9999px;
}
@media (min-width: 995px) {
  .left-btn:hover::before, .news .left-slide:hover::before, .right-btn:hover::before, .news .right-slide:hover::before {
    border-color: #019450;
    color: #019450;
  }
}
.left-btn::before, .news .left-slide::before, .right-btn::before, .news .right-slide::before {
  content: "\f104";
  float: left;
  color: #5e5e5e;
  font-family: "FontAwesome";
  text-indent: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #5e5e5e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-btn, .news .right-slide {
  margin-left: 6.4%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*course section start here*/
/*why us section start here*/
.why-us {
  padding: 39px 0 21px 0;
  background-color: #2B2E89;
  color: #fff;
}
@media (max-width: 480px) {
  .why-us .wrapper {
    margin-left: 4%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
}
.why-us .feature-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}
.why-us .feature-info {
  -ms-flex-preferred-size: 57.3%;
  flex-basis: 57.3%;
}
.why-us .feature-item {
  padding: 0 0 42px 11%;
  font-size: 14px;
}
.why-us .feature-item::before {
  content: "\f02d";
  float: left;
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 18px;
  font-family: "FontAwesome";
}
.why-us .feature-item:nth-child(2)::before {
  content: "\f53d";
}
.why-us .feature-item:nth-child(3)::before {
  content: "\f51c";
}
.why-us .feature-heading {
  padding-bottom: 35px;
  font-size: 19px;
  font-weight: 600;
}
.why-us .feature-heading::after {
  content: "";
  width: 9%;
  height: 2px;
  display: block;
  background-color: #fff;
}
.why-us .feature-description {
  padding-bottom: 25px;
  font-size: 12px;
  font-family: "Raleway,sans-serif";
  line-height: 1.5;
}
.why-us .more-btn {
  padding: 9px 16px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 995px) {
  .why-us .more-btn:hover {
    border-color: #019450;
    background-color: #fff;
    color: #019450;
  }
}

/*why us section end here*/
/*gallery  section start here*/
.gallery {
  padding: 53px 0;
}
.gallery .wrapper {
  width: 100%;
}
.gallery .gallery-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0 98px;
}
@media (max-width: 1200px) {
  .gallery .gallery-list {
    gap: 0 80px;
  }
}
@media (max-width: 995px) {
  .gallery .gallery-list {
    gap: 0 62px;
  }
}
@media (max-width: 768px) {
  .gallery .gallery-list {
    gap: 0 40px;
  }
}
@media (max-width: 480px) {
  .gallery .gallery-list {
    gap: 0 24px;
  }
}
.gallery .gallery-item {
  -ms-flex: 0 0 17.9%;
  flex: 0 0 17.9%;
}
@media (max-width: 995px) {
  .gallery .gallery-item {
    -ms-flex: 0 0 26.9%;
    flex: 0 0 26.9%;
  }
}

/*gallery  section end here*/
/*event  section start here*/
.event {
  padding-bottom: 46px;
}
@media (max-width: 768px) {
  .event .event-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
}
.event .event-info, .event .second {
  -ms-flex-preferred-size: 36%;
  flex-basis: 36%;
}
@media (max-width: 1024px) {
  .event .event-info, .event .second {
    -ms-flex-preferred-size: 39%;
    flex-basis: 39%;
  }
}
@media (max-width: 995px) {
  .event .event-info, .event .second {
    -ms-flex-preferred-size: 41%;
    flex-basis: 41%;
  }
}
@media (max-width: 768px) {
  .event .event-info, .event .second {
    margin: 15px 0;
  }
}
@media (max-width: 480px) {
  .event .event-info, .event .second {
    margin: 30px 0;
  }
}
.event .second {
  margin-right: 12.7%;
}
@media (max-width: 768px) {
  .event .second {
    margin: 0;
  }
}
.event .event-content {
  width: 63.8%;
  padding: 0 3% 11px 2%;
  position: absolute;
  z-index: 2;
  top: 12px;
  left: 72%;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@media (max-width: 1200px) {
  .event .event-content {
    width: 65%;
  }
}
@media (max-width: 1024px) {
  .event .event-content {
    width: 62%;
    left: 53%;
  }
}
@media (max-width: 995px) {
  .event .event-content {
    left: 44%;
  }
}
@media (max-width: 768px) {
  .event .event-content {
    top: 82px;
    left: 39%;
  }
}
@media (max-width: 768px) {
  .event .event-content {
    top: 47px;
    left: 39%;
  }
}
.event-heading {
  padding: 10px 0 12px;
  color: #1c3961;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5;
}

.event .event-description {
  padding-bottom: 11px;
  color: #585858;
  font-size: 10px;
  font-family: "Raleway,sans-serif";
  line-height: 1.4;
}
.event .schedule {
  padding-left: 11px;
  display: block;
  color: #000;
  font-size: 10px;
  line-height: 1.4;
}
.event .schedule::before {
  content: "\f017";
  float: left;
  position: absolute;
  top: 1px;
  left: 0;
  font-size: 9px;
  font-family: "FontAwesome";
}
.event .location::before {
  content: "\f3c5";
}

/*event  section end here*/
/*testimonial  section start here*/
.testimonial {
  padding: 49px 0;
  background-color: #323E54;
}
.testimonial .feeback-item {
  padding: 33px 0 41px 0;
  margin: 0 13% 0 13%;
  display: none;
  background-color: #000;
}
.testimonial .feeback-item::before {
  content: "";
  width: 97%;
  height: 265px;
  border: 1px solid #fff;
  display: block;
  background-color: transparent;
  position: absolute;
  top: 8px;
  left: 8px;
}
@media (max-width: 1024px) {
  .testimonial .feeback-item::before {
    content: "";
    height: 280px;
  }
}
@media (max-width: 768px) {
  .testimonial .feeback-item {
    margin: 0 6% 0 6%;
  }
  .testimonial .feeback-item::before {
    content: "";
    width: 96%;
    height: 295px;
    left: 7px;
  }
}
@media (max-width: 480px) {
  .testimonial .feeback-item {
    margin: 0 8% 0 8%;
  }
  .testimonial .feeback-item::before {
    content: "";
    width: 94%;
    height: 341px;
  }
}
.testimonial .feeback-item:nth-child(1) {
  display: block;
}
.testimonial .testimonial-span {
  padding-bottom: 15px;
  display: block;
  color: #019450;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.testimonial .testimonial-heading {
  padding-bottom: 45px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
.testimonial .testimonial-heading::before {
  content: "";
  width: 8%;
  height: 4px;
  display: inline-block;
  position: absolute;
  bottom: 54%;
  left: 46.3%;
  background-color: #019450;
}
.testimonial .fig-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-direction: column;
}
.testimonial .title {
  padding: 12px 0;
  color: #fff;
  font-size: 12px;
}
.testimonial .star {
  text-indent: -9999px;
}
.testimonial .star::before {
  content: "\f005";
  float: left;
  color: #797878;
  font-size: 12px;
  font-family: "FontAwesome";
  text-indent: 0;
}
.testimonial .star:nth-child(1)::before {
  color: #E19215;
}
.testimonial .star:nth-child(2)::before {
  color: #E19215;
}
.testimonial .wrap-feedback {
  padding: 0 10% 0 8%;
}
.testimonial .comments {
  padding-top: 19px;
  color: #fff;
  font-size: 11px;
  text-align: center;
  line-height: 1.4;
}
.testimonial .feedback-ctrl {
  width: 88.5%;
  position: absolute;
  top: 60%;
  left: 5.8%;
}
@media (max-width: 768px) {
  .testimonial .feedback-ctrl {
    width: 100%;
    left: 0;
  }
}

.left-ctrl, .right-ctrl {
  text-indent: -9999px;
}
@media (min-width: 995px) {
  .left-ctrl:hover::before, .right-ctrl:hover::before {
    border: 1px solid #019450;
    color: #019450;
    background-color: #fff;
  }
}
.left-ctrl::before, .right-ctrl::before {
  content: "\f053";
  float: left;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  font-family: "FontAwesome";
  text-indent: 0;
}
@media (max-width: 768px) {
  .left-ctrl::before, .right-ctrl::before {
    width: 18px;
    height: 18px;
    font-size: 12px;
  }
}

.right-ctrl {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*testimonial  section end here*/
/*news  section start here*/
.news {
  padding: 53px 0 160px;
}
@media (max-width: 480px) {
  .news {
    padding: 53px 0 85px;
  }
}
@media (max-width: 480px) {
  .news .news-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
}
.news .news-item {
  display: none;
  -ms-flex: 0 0 48.5%;
  flex: 0 0 48.5%;
}
@media (max-width: 480px) {
  .news .news-item {
    margin-bottom: 60px;
  }
}
.news .news-item:nth-child(1) {
  display: block;
}
.news .news-item:nth-child(2) {
  display: block;
}
.news .new-content {
  width: 88%;
  padding: 11px 5% 11px 2%;
  border: 1px solid #b7b7b7;
  position: absolute;
  bottom: -22.5%;
  left: 24px;
  background: #fff;
}
@media (max-width: 768px) {
  .news .new-content {
    bottom: -18.5%;
    left: 16px;
  }
}
.news .event-heading {
  font-size: 12px;
  line-height: 1;
}
.news .news-span {
  color: #000;
  font-size: 11px;
}
.news .conmtent-description {
  padding-top: 18px;
  color: #585858;
  font-size: 10px;
  line-height: 1.5;
}
.news .event-heading {
  padding: 0;
}
.news .news-slide {
  bottom: -39%;
}
@media (max-width: 768px) {
  .news .news-slide {
    bottom: -52%;
  }
}
@media (max-width: 480px) {
  .news .news-slide {
    bottom: -8%;
  }
}
/*news section end here*/
/*query section start here*/
.query {
  padding: 20px 0;
  background-color: #f3f3f3;
}
@media (max-width: 480px) {
  .query .query-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    align-items: center;
  }
}
.query .ask {
  -ms-flex-preferred-size: 46%;
  flex-basis: 46%;
  color: #1c3961;
  font-size: 18px;
  font-family: sans-serif;
}
@media (max-width: 768px) {
  .query .ask {
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .query .ask {
    margin-bottom: 11px;
  }
}
.query .contact {
  padding-left: 2.8%;
  -ms-flex-preferred-size: 65%;
  flex-basis: 65%;
  color: #1c3961;
  font-size: 18px;
}
@media (min-width: 995px) {
  .query .contact:hover {
    color: #019450;
  }
}
@media (max-width: 1024px) {
  .query .contact {
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
  }
}
@media (max-width: 995px) {
  .query .contact {
    padding-left: 3.8%;
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
  }
}
@media (max-width: 768px) {
  .query .contact {
    padding-left: 4.8%;
    -ms-flex-preferred-size: 36%;
    flex-basis: 36%;
  }
}
@media (max-width: 480px) {
  .query .contact {
    padding-left: 9.8%;
  }
}
.query .contact::before {
  content: "\f879";
  float: left;
  position: absolute;
  top: 2px;
  left: 2px;
  font-family: "FontAwesome";
}

/*query section end here*/
/*footer css start her*/
footer {
  padding: 30px 0 16px 0;
  background-color: #000;
  color: #fff;
}
footer .footer-heading {
  padding-bottom: 24px;
  font-size: 14px;
  font-weight: 600;
  font-family: "'Raleway',sans-serif";
}
footer .footer-heading::before {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  bottom: 42%;
  left: 0;
  background-color: #fff;
}
footer .footer-list {
  padding-bottom: 42px;
  font-size: 14px;
  font-family: "'Raleway',sans-serif";
}
@media (max-width: 768px) {
  footer .footer-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  footer .footer-list {
    margin-left: 2%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-direction: column;
  }
}
footer .footer-item:nth-child(1) {
  -ms-flex-preferred-size: 23.3%;
  flex-basis: 23.3%;
}
footer .sub-item {
  padding: 13px 0 10px;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 11px;
  font-family: "'Raleway',sans-serif";
}
footer .sub-item:nth-child(1) {
  padding: 0;
}
footer .footer-description {
  padding-bottom: 20px;
  line-height: 1.4;
}
footer .email, footer .footer-call, footer header .call, header footer .call {
  padding-left: 11%;
  color: #fff;
}
@media (min-width: 995px) {
  footer .email:hover, footer .footer-call:hover, footer header .call:hover, header footer .call:hover {
    color: #019450;
  }
  footer .email:hover::before, footer .footer-call:hover::before, footer header .call:hover::before, header footer .call:hover::before {
    color: #019450;
  }
}
@media (max-width: 480px) {
  footer .email, footer .footer-call, footer header .call, header footer .call {
    padding-left: 6%;
  }
}
footer .email::before, footer .footer-call::before, footer header .call::before, header footer .call::before {
  content: "\f0e0";
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 10px;
  font-family: "FontAwesome";
}
footer .footer-call::before {
  content: "\f879";
}
footer .add {
  width: 100%;
  padding-left: 11%;
}
footer .add::before {
  padding-left: 4%;
  content: "\f3c5";
  float: left;
  position: absolute;
  top: 0;
  left: -6px;
  color: #fff;
  font-size: 10px;
  font-family: "FontAwesome";
}
@media (max-width: 480px) {
  footer .add {
    padding-left: 6%;
  }
  footer .add::before {
    left: -12px;
  }
}
footer .footer-item:nth-child(2) {
  margin-left: 1%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
}
footer .footer-item:nth-child(3) {
  margin-left: 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 23.3%;
  flex-basis: 23.3%;
}
footer .footer-item:nth-child(4) {
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
}
@media (max-width: 768px) {
  footer .footer-list .footer-item {
    margin: 15px 0;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }
}
footer .link-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-direction: column;
}
footer .link {
  padding: 0 0 11px 1%;
  color: #fff;
  font-size: 11px;
  font-family: "'Raleway',sans-serif";
}
@media (min-width: 995px) {
  footer .link:hover {
    color: #019450;
  }
  footer .link:hover::before {
    color: #019450;
  }
}
footer .link::before {
  content: "\f105";
  float: left;
  position: absolute;
  top: 1px;
  left: -8px;
  color: #fff;
  font-size: 10px;
  font-family: "FontAwesome";
}
footer .course-name {
  padding: 0 0 19px 31%;
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
}
footer .course-name::before {
  content: "";
  width: 43px;
  height: 43px;
  float: left;
  border-radius: 3px;
  position: absolute;
  top: 2px;
  left: 0;
  background-color: #ef0000;
}
@media (max-width: 480px) {
  footer .course-name {
    padding: 0 0 19px 20%;
  }
}
footer .courses-title {
  font-size: 13px;
}
footer .cost {
  font-size: 12px;
}
footer .input, footer .msg {
  width: 100%;
  padding: 10px 2% 10px 7%;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  background: none;
  font-size: 9px;
  outline: none;
}
@media (max-width: 480px) {
  footer .input, footer .msg {
    margin-bottom: 20px;
  }
}
footer .msg {
  resize: none;
}
footer .sub-btn {
  width: 100%;
  padding: 9px 0;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #fff;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 995px) {
  footer .sub-btn:hover {
    border: 1px solid #fff;
    background-color: #019450;
    color: #fff;
  }
}
footer .social-list {
  padding-bottom: 22px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 16px;
}
footer .social-list::before {
  content: "";
  width: 40.5%;
  height: 2px;
  float: left;
  position: absolute;
  top: 8px;
  left: 0;
  background-color: #fff;
}
footer .social-list::after {
  content: "";
  width: 40.5%;
  height: 2px;
  float: right;
  position: absolute;
  top: 8px;
  right: 0;
  background-color: #fff;
}
@media (max-width: 1200px) {
  footer .social-list::before {
    content: "";
    width: 37.5%;
  }
  footer .social-list::after {
    content: "";
    width: 37.5%;
  }
}
@media (max-width: 768px) {
  footer .social-list::before {
    content: "";
    width: 33.5%;
  }
  footer .social-list::after {
    content: "";
    width: 33.5%;
  }
}
@media (max-width: 480px) {
  footer .social-list::before {
    content: "";
    width: 25.5%;
  }
  footer .social-list::after {
    content: "";
    width: 25.5%;
  }
}
footer .icon {
  color: #fff;
  text-indent: -9999px;
}
footer .icon::before {
  content: "\f082";
  float: left;
  font-size: 13px;
  font-family: "FontAwesome";
  text-indent: 0;
}
@media (min-width: 995px) {
  footer .icon:hover {
    color: #019450;
  }
}
footer .twitter::before {
  content: "\f099";
}
footer .skype::before {
  content: "\f17e";
}
footer .youtube::before {
  content: "\f167";
}
footer .instagram::before {
  content: "\f16d";
}
footer .copy {
  font-size: 14px;
  font-family: "sans-serif";
  text-align: center;
}
@media (max-width: 768px) {
  footer .copy {
    line-height: 1.5;
  }
}
@media (max-width: 480px) {
  footer .copy {
    font-size: 13px;
  }
}

/*footer css end her*/

/*# sourceMappingURL=style.css.map */
