/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 61%;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* header start here*/
.course .time, .course .course-list, .banner .slide-ctrl, header .header2 .nav-list, header .header2 .wrapper, header .icon, header .social-list, header .email, header .call, header .link, header .header1 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.course .caption-heading, .course .course-item figure, .course .wrapper, .banner .wrapper, header .header2 .down {
  position: relative;
}

.banner .left, .banner .right, header .header2 .nav-link, header .header2 .bar, header .login, header .icon, header .email, header .call {
  transition: all 0.4s ease-in-out;
}

.course .course-list, .banner .slide-ctrl, header .header2 .wrapper, header .header1 .wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .header2 .nav-list, header .header2 .wrapper, header .icon, header .email, header .call, header .header1 .wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-items: center;
}

header .header1 {
  padding: 10px 0;
  background-color: #1C3961;
}
header .link {
  -ms-flex-preferred-size: 62.8%;
  flex-basis: 62.8%;
}
header .email, header .call {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
}
@media (min-width: 995px) {
  header .email:hover, header .call:hover {
    color: #019450;
  }
}
header .email::before, header .call::before {
  margin-right: 10px;
  content: "\f0e0";
  float: left;
  font-size: 9px;
  font-family: "FontAwesome";
}
header .call {
  margin-left: 6%;
}
header .call::before {
  margin-right: 9px;
  content: "\f879";
}
header .social-list {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  gap: 12px;
}
header .social-item {
  margin-left: 2%;
}
header .social-item:first-child {
  margin: 0;
}
header .icon {
  color: #fff;
  text-indent: -9999px;
}
@media (min-width: 995px) {
  header .icon:hover {
    color: #019450;
  }
}
header .icon.whatsapp::before {
  content: "\f232";
}
header .icon.google::before {
  content: "\f0d5";
}
header .icon.facebook::before {
  content: "\f082";
}
header .icon.messanger::before {
  content: "\f39f";
}
header .icon.twitter::before {
  content: "\f099";
}
header .icon.skype::before {
  content: "\f17e";
}
header .icon::before {
  content: "";
  float: left;
  font-size: 10px;
  font-family: "FontAwesome";
  text-indent: 0;
}
header .login {
  color: #fff;
  font-size: 10px;
}
@media (min-width: 995px) {
  header .login:hover {
    color: #019450;
  }
}
header .header2 .hamburger {
  display: none;
  cursor: pointer;
}
header .header2 .bar {
  width: 18px;
  height: 2px;
  margin: 5px;
  display: block;
  background-color: #1C3961;
  text-indent: -9999px;
}
header .header2 .navbar {
  -ms-flex-preferred-size: 49.5%;
  flex-basis: 49.5%;
}
header .header2 .nav-list {
  gap: 12px;
}
header .header2 .nav-item:nth-child(2) {
  padding-right: 16px;
}
header .header2 .nav-item:nth-child(3) {
  padding-right: 16px;
}
header .header2 .nav-link {
  padding: 5px;
  color: #38382A;
  font-size: 14px;
}
@media (min-width: 995px) {
  header .header2 .nav-link:hover {
    color: #019450;
  }
}
header .header2 .down::before {
  content: "\f078";
  float: right;
  position: absolute;
  top: 36%;
  right: -23%;
  color: #363636;
  font-size: 10px;
  font-family: "FontAwesome";
}
@media (min-width: 995px) {
  header .header2 .down:hover::before {
    color: #019450;
  }
}

/* header end here*/
/*banner section start here*/
.banner .wrapper {
  width: 100%;
}
.banner .slider-item {
  display: none;
}
.banner .slider-item figure img {
  max-height: 585px;
  height: 100%;
  filter: brightness(0.6);
}
.banner .slider-item:nth-child(1) {
  display: block;
}
.banner .slide-content {
  position: absolute;
  bottom: 389px;
  left: 32.6%;
  text-align: center;
}
.banner .banner-heading {
  padding-bottom: 9px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
.banner .description {
  margin-left: 20px;
  color: #fff;
  font-size: 15px;
}
.banner .slide-ctrl {
  width: 100%;
  position: absolute;
  bottom: 316px;
  left: 0;
}
.banner .left, .banner .right {
  margin-left: 2%;
  text-indent: -9999px;
}
@media (min-width: 995px) {
  .banner .left:hover::before, .banner .right:hover::before {
    color: #404040;
  }
}
.banner .left::before, .banner .right::before {
  content: "\f053";
  float: left;
  color: #fff;
  font-size: 20px;
  font-family: "FontAwesome";
  text-indent: 0;
}
.banner .right {
  margin-right: 2%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*banner section end here*/
/*course section start here*/
.course {
  padding: 45px 0 115px 0;
}
.heading {
  padding-bottom: 32px;
  color: #1C3961;
  font-size: 19px;
  font-weight: 600;
  text-align: center;
}

.course .course-item {
  padding-bottom: 10px;
  border: 1px solid #b7b7b7;
  -ms-flex-preferred-size: 31.7%;
  flex-basis: 31.7%;
}
.course .course-info {
  padding: 0 4.6% 0 3%;
}
.course .text, .course .time {
  padding: 32px 0 22px 0;
  color: #9a9a9a;
  font-size: 11px;
}
.course .caption {
  padding: 14px 0;
  position: absolute;
  right: 3%;
  bottom: -21px;
  left: 5%;
  background-color: #019450;
  color: #fff;
  font-size: 14px;
}
.course .caption-heading {
  margin-right: 10%;
  font-size: 13px;
  text-align: center;
}
.course .caption-heading::before {
  content: ">>>";
  float: right;
  position: absolute;
  top: 2px;
  right: 10%;
  font-size: 11px;
}
.course .time {
  padding: 0;
  color: #5c5c5c;
  line-height: 17px;
}
.course .content {
  display: inline-block;
  margin-left: 3px;
}
.course .slide-btn {
  width: 100%;
  position: absolute;
  bottom: -19%;
  left: 42.8%;
}
.course .slide-btn::before {
  content: "";
  width: 5.5%;
  height: 2px;
  display: block;
  position: inherit;
  top: 50%;
  left: 4.5%;
  background-color: #939393;
}
.course .left-btn, .course .right-btn {
  text-indent: -9999px;
}
@media (min-width: 995px) {
  .course .left-btn:hover::before, .course .right-btn:hover::before {
    border-color: #019450;
    color: #019450;
  }
}
.course .left-btn::before, .course .right-btn::before {
  content: "\f104";
  float: left;
  color: #5e5e5e;
  font-family: "FontAwesome";
  text-indent: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #5e5e5e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course .right-btn {
  margin-left: 6.4%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*course section start here*/

/*# sourceMappingURL=style.css.map */
