/*footer css start her*/
footer {
  padding: 30px 0 16px 0;
  background-color: $black;
  color: $white;

  .footer-heading {
    padding-bottom: 24px;
    @extend %relative;
    @include font(14px, 600, $family: "'Raleway',sans-serif");

    &::before {
      @include contentBefore("", 25px, 2px);
      @include position(absolute, $bottom: 42%, $left: 0);
      background-color: $white;
    }
  }

  .footer-list {
    padding-bottom: 42px;
    @extend %flex-repeat;
    @extend %justify-repeat;
    @include font(14px, $family: "'Raleway',sans-serif");
  }

  .footer-item:nth-child(1) {
    @include flex-basis(23.3%);
  }

  .sub-item {
    padding: 13px 0 10px;
    border-bottom: 1px solid $white;
    @extend %flex-repeat;
    color: $white;
    @include font(11px, $family: "'Raleway',sans-serif");
  }

  .sub-item:nth-child(1) {
    padding: 0;
  }

  .footer-description {
    padding-bottom: 20px;
    line-height: 1.4;
  }

  .email {
    padding-left: 11%;
    @extend %relative;
    color: $white;
    @extend %transition-repeat;

    @include for-hover-only {
      &:hover {
        color: $caption-color;
      }

      &:hover::before {
        color: $caption-color;
      }
    }

    &::before {
      @include contentBefore(\f0e0);
      @include position(absolute, $top: 0, $left: 0);
      color: $white;
      @include font(10px, $family: "FontAwesome");
    }
  }

  .footer-call {
    @extend .email;

    &::before {
      @include contentBefore(\f879);
    }
  }

  .add {
    width: 100%;
    padding-left: 11%;
    @extend %relative;

    &::before {
      padding-left: 4%;
      @include contentBefore(\f3c5, $float: left);
      @include position(absolute, $top: 0, $left: -6px);
      color: $white;
      @include font(10px, $family: "FontAwesome");
    }
  }

  .footer-item:nth-child(2) {
    margin-left: 1%;
    @include flex-basis(20%);
  }

  .footer-item:nth-child(3) {
    margin-left: 3%;
    @extend %flex-repeat;
    @include flex-direction(column);
    @include flex-basis(23.3%);
  }

  .footer-item:nth-child(4) {
    @include flex-basis(23%);
  }

  .link-list {
    @extend %flex-repeat;
    @include flex-direction(column);
  }

  .link {
    padding: 0 0 11px 1%;
    @extend %relative;
    color: $white;
    @include font(11px, $family: "'Raleway',sans-serif");
    @extend %transition-repeat;

    @include for-hover-only {
      &:hover {
        color: $caption-color;
      }

      &:hover::before {
        color: $caption-color;
      }
    }

    &::before {
      @include contentBefore(\f105, $float: left);
      @include position(absolute, $top: 1px, $left: -8px);
      color: $white;
      @include font(10px, $family: "FontAwesome");

    }
  }

  .course-name {
    padding: 0 0 19px 31%;
    border-bottom: 1px solid $white;
    margin-bottom: 5px;
    @extend %relative;

    &::before {
      @include contentBefore("", 43px, 43px, $float: left);
      border-radius: 3px;
      @include position(absolute, $top: 2px, $left: 0);
      background-color: #ef0000;
    }
  }

  .courses-title {
    @include font(13px);
  }

  .cost {
    @include font(12px);
  }

  .input {
    width: 100%;
    padding: 10px 2% 10px 7%;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid $white;
    background: none;
    @include font(9px);
    outline: none;
  }

  .msg {
    @extend .input;
    resize: none;
  }

  .sub-btn {
    width: 100%;
    padding: 9px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: $white;
    @include font(10px, 700);
    text-align: center;
    @extend %transition-repeat;

    @include for-hover-only {
      &:hover {
        border: 1px solid $white;
        background-color: $caption-color;
        color: $white;
      }
    }
  }

  .social-list{
    padding-bottom: 22px;
    @extend %flex-repeat;
    @include justify-content(center);
    gap: 16px
  }
  .icon{
    @extend %flex-repeat;
    @extend %align-repeat;
    color: $white;
    text-indent: -9999px;
    @extend %transition-repeat;
    &::before{
      @include contentBefore(\f082, $float: left);
      @include font(13px, $family: "FontAwesome");
      text-indent: 0;
    }
    @include for-hover-only {
      &:hover {
        color: $caption-color;
      }
    }
  }
  .twitter::before{
    @include contentBefore(\f099);
  }
  .skype::before{
    @include contentBefore(\f17e);
  }
  .youtube::before{
    @include contentBefore(\f167);
  }
  .instagram::before{
    @include contentBefore(\f16d);
  }
  .copy{
    @include font(14px,$family:"sans-serif");
    text-align: center;
  }
}

/*footer css end her*/