/* header start here*/
%flex-repeat {
  @include displayFlex();
}

%relative {
  @include position(relative);
}

%transition-repeat {
  @include transition(all .4s ease-in-out);
}

%justify-repeat {
  @include justify-content(space-between);
}

%align-repeat {
  @include align-items(center);
}

header {
  @extend %relative;

  .header1 {
    padding: 10px 0;
    background-color: $header-color;

    .wrapper {
      @extend %flex-repeat;
      @extend %align-repeat;
      @extend %justify-repeat;

      @include for-small-screen {
        margin: 10px 0;
        @include flex-direction(column);
      }
    }
  }

  .link {
    @extend %flex-repeat;
    @include flex-basis(62.8%);

    @include for-mobile-screen {
      @include flex-basis(38.8%);
    }
  }

  .email {
    @extend %flex-repeat;
    @extend %align-repeat;
    color: $white;
    @include font(11px, 400);
    @extend %transition-repeat;
    @extend %relative;

    @include for-hover-only {
      &:hover {
        color: $caption-color;
      }
    }

    &::before {
      margin-right: 10px;
      @include contentBefore(\f0e0, $float: left);
      @include font(9px, $family: "FontAwesome");

    }

    @include for-small-screen {
      &::before {
        @include position(absolute, $top: 2px, $left: -13px);
      }
    }
  }

  .call {
    margin-left: 6%;
    @extend .email;

    @include for-small-screen {
      margin-left: 12%;
    }

    &::before {
      margin-right: 9px;
      @include contentBefore(\f879);
    }
  }

  .social-list {
    @extend %flex-repeat;
    @include flex-basis(20%);
    gap: 12px;

    @include for-small-screen {
      margin: 5px 0;
    }
  }

  .social-item {
    margin-left: 2%;
  }

  .social-item:first-child {
    margin: 0;
  }

  .icon {
    @extend %flex-repeat;
    @extend %align-repeat;
    color: $white;
    text-indent: -9999px;
    @extend %transition-repeat;

    @include for-hover-only {
      &:hover {
        color: $caption-color;
      }
    }

    @each $name,
    $value in $icon {
      &.#{$name}::before {
        content: $value;
      }
    }

    &::before {
      @include contentBefore("", $float: left);
      @include font(10px, $family: "FontAwesome");
      text-indent: 0;
    }
  }

  .login {
    color: $white;
    @include font(11px);
    @extend %transition-repeat;

    @include for-hover-only {
      &:hover {
        color: $caption-color;
      }
    }
  }

  .header2 {
    @include for-small-screen {
      position: relative;
    }

    .wrapper {
      @extend %flex-repeat;
      @extend %align-repeat;
      @extend %justify-repeat;
    }

    .hamburger {
      display: none;
      cursor: pointer;
      @extend %transition-repeat;

      @include for-mobile-screen {
        display: block;
        @include position(absolute, 20, $top: 50%, $right: 9px);

        &:hover~.navbar {
          @include position($top: 102px, $left: 0);
        }

        &:hover .bar2 {
          display: none;
        }

        &:hover .bar1 {
          @include transform(translateY(8px)rotate(45deg));
        }

        &:hover .bar3 {
          @include transform(translateY(1px)rotate(-45deg));
        }
      }

      @include for-mobile-screen {
        @include position($top: 26%);

        &:hover~.navbar {
          @include position($top: 63px);
        }
      }
    }

    .bar {
      width: 18px;
      height: 2px;
      margin: 5px;
      display: block;
      background-color: $caption-color;
      text-indent: -9999px;
      @extend %transition-repeat;
    }

    .navbar {
      @include flex-basis(49.5%);

      @include for-mobile-screen {
        width: 100%;
        height: 100vh;
        @include position(absolute, 6, 0%, $left: 100%);
        background-color: $caption-color;
      }
    }

    .nav-list {
      @extend %flex-repeat;
      @extend %align-repeat;
      gap: 12px;

      @include for-mobile-screen {
        margin: 64px 0;
        @include flex-direction(column);
        gap: 50px;
      }
    }

    .nav-item:nth-child(2) {
      padding-right: 16px;
    }

    .nav-item:nth-child(3) {
      padding-right: 16px;
    }

    .nav-link {
      padding: 5px;
      color: $nav-anc;
      @include font(14px);
      @extend %transition-repeat;

      @include for-hover-only {
        &:hover {
          color: $caption-color;
        }
      }

      @include for-mobile-screen {
        color: $white;
      }
    }

    .down {
      @extend %relative;

      &::before {
        @include contentBefore(\f078, $float: right);
        @include position(absolute, $top: 28%, $right: -23%);
        color: #363636;
        @include font(10px, $family: "FontAwesome");
      }

      @include for-hover-only {
        &:hover::before {
          color: $caption-color;
        }
      }

      @include for-mobile-screen {
        &::before {
          color: $white;
        }
      }
    }
  }

  @include for-large-screen {
    .social-list {
      @include flex-basis(24%)
    }
  }
}

/* header end here*/