.banner{
  .wrapper{
    width: 100%;  
    @extend %relative;
  }
  .slider-item{
    display: none;
    figure{
      img{
        max-height: 585px;
        height: 100%;
        filter: brightness(.6);
      }
    }
  }
  .slider-item:nth-child(1){
    display: block;
  }
  .slide-content{
    @include position(absolute,$bottom:389px,$left:32.6%);
    text-align: center;
  }

  .banner-heading{
    padding-bottom: 9px;
    color: $white;
    @include font(25px,600);
  }
  .description{
    margin-left: 20px;
    color: $white;
    @include font(15px);
  }
  .slide-ctrl{
    width: 100%;
    @extend %flex-repeat;
    @extend %justify-repeat;
    @include position(absolute,$bottom:316px,$left:0);
  }

  .left{
    margin-left: 2%;
    text-indent: -9999px;
    @extend %transition-repeat;
    @include for-hover-only{
      &:hover::before{
        color: $heading-color;
      }
    }
    &::before{
      @include contentBefore(\f053, $float: left);
      color: $white;
      @include font(20px,$family:"FontAwesome");
      text-indent: 0;
    }
  }
  .right{
    margin-right: 2%;
    @extend .left;
    @include transform(rotate(180deg));
  }

}