/*banner section start here*/
.banner {
  @include for-medium-screen{
    @include position(relative);
  }
  .wrapper {
    width: 100%;
    @extend %relative;
    @include for-medium-screen{
      @include position(absolute,$top:50%,$left:50%);
      @include transform(translate(-50%,-50%));
    }
  }

  .slider-item {
    display: none;

    figure {
      img {
        max-height: 585px;
        height: 100%;
        filter: brightness(.6);
      }
    }
  }

  .slider-item:nth-child(1) {
    display: block;
  }
 
  .slide-content {
    @include position(absolute, $bottom: 389px, $left: 34%);
    text-align: center;
    @include for-large-screen{
        @include position($bottom:350px,$left:31%);
    }
    @include for-medium-screen{
      @include position(absolute,$bottom:60%,$left:50%);
      @include transform(translate(-50%,60%));
    }
  }
  .banner-heading {
    padding-bottom: 9px;
    color: $white;
    @include font(27px, 600);
  }

  .description {
    color: $white;
    @include font(15px);
  }

  .slide-ctrl {
    width: 100%;
    @extend %flex-repeat;
    @extend %justify-repeat;
    @include position(absolute, $bottom: 316px, $left: 0);
    @include for-medium-screen{
      @include position(absolute,$bottom:60%,$left:50%);
      @include transform(translate(-50%,60%));
    }
  }

  .left {
    margin-left: 2%;
    text-indent: -9999px;
    @extend %transition-repeat;

    @include for-hover-only {
      &:hover::before {
        color: $heading-color;
      }
    }

    &::before {
      @include contentBefore(\f053, $float: left);
      color: $white;
      @include font(20px, $family: "FontAwesome");
      text-indent: 0;
    }
  }

  .right {
    margin-right: 2%;
    @extend .left;
    @include transform(rotate(180deg));
  }

}

/*banner section end here*/
/*course section start here*/
.course {
  padding: 45px 0 115px 0;

  .wrapper {
    @extend %relative;
  }

  @at-root {
    .heading {
      padding-bottom: 32px;
      color: $header-color;
      @include font(20px, 600);
      text-align: center;
    }
  }

  .course-list {
    @extend %flex-repeat;
    @extend %justify-repeat;
    @include for-mobile-screen{
      @include flex-wrap(wrap);
    }
    @include for-small-screen{
      @include flex-direction(column);
    }
  }

  .course-item {
    padding-bottom: 10px;
    border: 1px solid #b7b7b7;
    @include flex-basis(31.7%);
    @include for-mobile-screen{
      @include flex-basis(47%);
      margin: 15px 0;
    }

    figure {
      @extend %relative;
    }
  }

  .course-info {
    padding: 0 4.6% 0 3%;
  }

  .text {
    padding: 32px 0 22px 0;
    color: #9a9a9a;
    @include font(11px);
  }

  .caption {
    padding: 14px 0;
    @include position(absolute, $left: 5%, $bottom: -21px, $right: 3%);
    background-color: $caption-color;
    color: $white;
    @include font(14px);
  }

  .caption-heading {
    margin-right: 10%;
    @extend %relative;
    @include font(13px);
    text-align: center;

    &::before {
      @include contentBefore('>>>');
      float: right;
      @include position(absolute, $top: 2px, $right: 10%);
      @include font(11px);
    }
  }

  .time {
    padding: 0;
    @extend %flex-repeat;
    @extend .text;
    color: #5c5c5c;
    line-height: 17px;
  }

  .content {
    display: inline-block;
    margin-left: 3px;
  }

  @at-root {
    .slide-btn {
      width: 100%;
      @include position(absolute, $bottom: -19%, $left: 42.8%);

      &::before {
        @include contentBefore("", 5.5%, 2px);
        display: block;
        @include position(inherit, $top: 50%, $left: 4.8%);
        background-color: #939393;
      }
      @include for-large-screen{
        &::before{
          @include position($left:5%);
        }
      }
      @include for-lp-screen{
        &::before{
          @include position($left:5.5%);
        }
      }
      @include for-medium-screen{
        &::before{
          @include position($left:6%);
        } 
      }
      @include for-mobile-screen{
        width: 100%;
        @include position($bottom:-9%,$left:0);
        text-align: center;
        &::before{
          @include position($left:47%);
        }
      }
      @include for-small-screen{
        @include position($bottom:-5%);
      }
    }

    .left-btn {
      text-indent: -9999px;

      @include for-hover-only {
        &:hover::before {
          border-color: $caption-color;
          color: $caption-color;
        }
      }

      &::before {
        @include contentBefore(\f104, $float: left);
        color: #5e5e5e;
        @include font($family: "FontAwesome");
        text-indent: 0;
        width: 30px;
        height: 30px;
        border: 1px solid #5e5e5e;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .right-btn {
      margin-left: 6.4%;
      @include transform(rotate(180deg));
      @extend .left-btn;
    }
  }

}

/*course section start here*/
/*why us section start here*/
.why-us {
  padding: 39px 0 21px 0;
  background-color: $why-color;
  color: $white;

  .wrapper {
    @extend %flex-repeat;
    @extend %justify-repeat;
    @include for-small-screen{
      margin-left: 4%;
      @include flex-direction(column);
    }
  }

  .feature-list {
    @extend %flex-repeat;
    @include flex-direction(column);
    @include flex-basis(40%);
  }

  .feature-info {
    @include flex-basis(57.3%);
  }

  .feature-item {
    @extend %relative;
    padding: 0 0 42px 11%;
    @include font(14px);

    &::before {
      @include contentBefore(\f02d, $float: left);
      @include position(absolute, $top: 0%, $left: 0%);
      @include font(18px, $family: "FontAwesome");
    }
  }

  .feature-item:nth-child(2)::before {
    @include contentBefore(\f53d);
  }

  .feature-item:nth-child(3)::before {
    @include contentBefore(\f51c);
  }

  .feature-heading {
    padding-bottom: 35px;
    @include font(19px, 600);

    &::after {
      @include contentBefore("", 9%, 2px);
      display: block;
      background-color: $white;
    }
  }

  .feature-description {
    padding-bottom: 25px;
    @include font(12px, $family: 'Raleway,sans-serif');
    line-height: 1.5;
  }

  .more-btn {
    padding: 9px 16px;
    border: 1px solid $white;
    color: $white;
    @extend %transition-repeat;
    @include font(14px, 400);

    @include for-hover-only {
      &:hover {
        border-color: $caption-color;
        background-color: $white;
        color: $caption-color;
      }
    }
  }
}

/*why us section end here*/
/*gallery  section start here*/
.gallery {
  padding: 53px 0;

  .wrapper {
    width: 100%;
  }

  .gallery-list {
    @extend %flex-repeat;
    @include flex-wrap(wrap);
    gap: 0 98px;
    @include for-large-screen{
      gap:0 80px;
    }
    @include for-medium-screen{
      gap:0 62px;
    }
    @include for-mobile-screen{
      gap:0 40px;
    }
    @include for-small-screen{
      gap: 0 24px;
    }
  }

  .gallery-item {
    @include flex(0, 0, 17.9%);
    @include for-medium-screen{
      @include flex(0, 0, 26.9%);
    }
  }
}

/*gallery  section end here*/
/*event  section start here*/
.event {
  padding-bottom: 46px;

  .event-wrap {
    @extend %flex-repeat;
    @extend %justify-repeat;
    @include for-mobile-screen{
      @include flex-direction(column);
    }
  }

  .event-info {
    @include flex-basis(36%);
    @extend %relative;
    @include for-lp-screen{
      @include flex-basis(39%);
    }
    @include for-medium-screen{
      @include flex-basis(41%);
    }
    @include for-mobile-screen{
      margin: 15px 0;
    }
    @include for-small-screen{
      margin: 30px 0;
    }
  }

  .second {
    @extend .event-info;
    margin-right: 12.7%;
    @include for-mobile-screen{
      margin: 0;
    }
  }

  .event-content {
    width: 63.8%;
    padding: 0 3% 11px 2%;
    @include position(absolute, 2, $top: 12px, $left: 72%);
    background-color: $white;
    @include boxShadow(0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%));
    @include for-large-screen{
      width: 65%;
    }
    @include for-lp-screen{
      width: 62%;
      @include position($left:53%)
    }
    @include for-medium-screen{
      @include position($left:44%);
    }
    @include for-mobile-screen{
      @include position($top:82px,$left:39%);
    }
    @include for-mobile-screen{
      @include position($top:47px,$left:39%);
    }
  }

  @at-root {
    .event-heading {
      padding: 10px 0 12px;
      color: $event;
      @include font(13px, 600);
      line-height: 1.5;
    }
  }

  .event-description {
    padding-bottom: 11px;
    color: #585858;
    @include font(10px, $family: 'Raleway,sans-serif');
    line-height: 1.4;
  }

  .schedule {
    padding-left: 11px;
    display: block;
    @extend %relative;
    color: $black;
    @include font(10px);
    line-height: 1.4;

    &::before {
      @include contentBefore(\f017, $float: left);
      @include position(absolute, $top: 1px, $left: 0);
      @include font(9px, $family: "FontAwesome");
    }
  }

  .location::before {
    @include contentBefore(\f3c5);
  }
}

/*event  section end here*/
/*testimonial  section start here*/
.testimonial {
  padding: 49px 0;
  background-color: #323E54;

  .wrapper {
    @extend %relative;
  }

  .feedbak-list {
    @extend %flex-repeat;

  }

  .feeback-item {
    padding: 33px 0 41px 0;
    margin: 0 13% 0 13%;
    display: none;
    @extend %relative;
    background-color: $black;

    &::before {
      @include contentBefore("", 97%, 265px);
      border: 1px solid #fff;
      display: block;
      background-color: transparent;
      @include position(absolute,$top:8px,$left:8px);
    }
    @include for-lp-screen{
      &::before{
        @include contentBefore("",$height:280px);
      }
    }
    @include for-mobile-screen{
      margin: 0 6% 0 6%;
      &::before{
        @include contentBefore("", 96%, 295px);
        @include position($left:7px);
      }
    }
    @include for-small-screen{
      margin: 0 8% 0 8%;
      &::before{
        @include contentBefore("", 94%, 341px);
      }
    }
  }

  .feeback-item:nth-child(1) {
    display: block;
  }

  .testimonial-span {
    padding-bottom: 15px;
    display: block;
    color: $caption-color;
    @include font(20px, 600);
    text-align: center;
  }

  .testimonial-heading {
    padding-bottom: 45px;
    @extend %relative;
    color: $white;
    @include font(22px, 600);
    text-align: center;

    &::before {
      @include contentBefore("", 8%, 4px);
      display: inline-block;
      @include position(absolute, $bottom: 54%, $left: 46.3%);
      background-color: $caption-color;
    }
  }

  .fig-wrap {
    @extend %flex-repeat;
    @extend %align-repeat;
    @include flex-direction(column);
  }

  .title {
    padding: 12px 0;
    color: $white;
    @include font(12px);
  }

  .star-list {
    @extend %flex-repeat;
  }

  .star {
    text-indent: -9999px;

    &::before {
      @include contentBefore(\f005, $float: left);
      color: #797878;
      @include font(12px, $family: "FontAwesome");
      text-indent: 0;
    }
  }

  .star:nth-child(1)::before {
    color: #E19215;
  }

  .star:nth-child(2)::before {
    color: #E19215;
  }

  .wrap-feedback {
    padding: 0 10% 0 8%;
  }

  .comments {
    padding-top: 19px;
    color: $white;
    @include font(11px);
    text-align: center;
    line-height: 1.4;
  }

  .feedback-ctrl {
    width: 88.5%;
    @extend %flex-repeat;
    @extend %justify-repeat;
    @include position(absolute, $top: 60%, $left: 5.8%);
    @include for-mobile-screen{
      width: 100%;
      @include position($left: 0);
    }
  }
}

.left-ctrl {
  text-indent: -9999px;
  @extend %transition-repeat;

  @include for-hover-only {
    &:hover::before {
      border: 1px solid $caption-color;
      color: $caption-color;
      background-color: $white;
    }
  }

  &::before {
    @include contentBefore(\f053, $float: left);
    width: 30px;
    height: 30px;
    border: 1px solid $white;
    border-radius: 3px;
    color: $white;
    @extend %flex-repeat;
    @extend %align-repeat;
    @include justify-content(center);
    @include font(16px, $family: "FontAwesome");
    text-indent: 0;
  }

  @include for-mobile-screen{
    &::before{
      width: 18px;
      height: 18px;
      @include font(12px);
    }
  }
}

.right-ctrl {
  @extend .left-ctrl;
  @include transform(rotate(180deg));
}

/*testimonial  section end here*/
/*news  section start here*/
.news {
  padding: 53px 0 160px;
  @include for-small-screen{
    padding: 53px 0 85px;
  }

  .wrapper {
    @extend %relative;
  }

  .news-list {
    @extend %flex-repeat;
    @extend %justify-repeat;
    @include for-small-screen{
      @include flex-direction(column);
    }
  }

  .news-item {
    display: none;
    @include flex(0, 0, 48.5%);
    @extend %relative;
    @include for-small-screen{
      margin-bottom: 60px;
    }
  }

  .news-item:nth-child(1) {
    display: block;
  }

  .news-item:nth-child(2) {
    display: block;
  }

  .new-content {
    width: 88%;
    padding: 11px 5% 11px 2%;
    border: 1px solid #b7b7b7;
    @include position(absolute, $bottom: -22.5%, $left: 24px);
    background: $white;
    @include for-mobile-screen{
      @include position($bottom:-18.5%,$left:16px);
    }
  }

  .event-heading {
    @include font(12px);
    line-height: 1;
  }

  .news-span {
    color: $black;
    @include font(11px);
  }

  .conmtent-description {
    padding-top: 18px;
    color: #585858;
    @include font(10px);
    line-height: 1.5;
  }

  .event-heading {
    padding: 0;
  }

  .news-slide {
    @extend .slide-btn;
    @include position($bottom: -39%);
    @include for-mobile-screen{
      @include position($bottom: -52%);
    }
    @include for-small-screen{
      @include position($bottom: -8%);
    }
  }

  .left-slide {
    @extend .left-btn;
  }

  .right-slide {
    @extend .right-btn;
  }
}

/*news section end here*/
/*query section start here*/
.query{
  padding: 20px 0;
  background-color: $query;
  .query-wrap{
    @extend %flex-repeat;
    @extend %justify-repeat;
    @include for-small-screen{
      @include flex-direction(column);
      @include align-items(center);
    }
  }
  .ask{
    @include flex-basis(46%);
    color: #1c3961;
    @include font(18px,$family:sans-serif);
    @include for-mobile-screen{
    @include flex-basis(65%);
    
    @include for-small-screen{
      margin-bottom: 11px;
    }

    }
  }
  .contact{
    padding-left: 2.8%;
    @include flex-basis(65%);
    @extend %relative;
    color: #1c3961;
    @extend %transition-repeat;

  @include for-hover-only {
    &:hover{
      color: $caption-color;
    }
  }
  @include for-lp-screen{
    @include flex-basis(55%);
  }
  @include for-medium-screen{
    padding-left: 3.8%;
    @include flex-basis(49%);

  }
  @include for-mobile-screen{
    padding-left: 4.8%;
    @include flex-basis(36%);
  }
  @include for-small-screen{
    padding-left: 9.8%;
  }
    @include font(18px);
    &::before{
      @include contentBefore(\f879,$float:left);
      @include position(absolute,$top:2px,$left:2px);
      @include font($family:"FontAwesome");
    }
  }
}
/*query section end here*/